.about{
    margin-left: 6px;
}

.name{
    color: #121714;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: -15px;
}

.date{
    color: #4F964F;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 0px;
}

.description{
    color: #121714;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-top: 4px;
}

.avatar {
  width: auto;
  height: 40px;
}